[project]
name = "test-aiti"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "mypy>=1.19.1",
    "ruff>=0.14.14",
]


[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = [
    "I",  
]